﻿@model Lab03.Models.Category

@{
    ViewData["Title"] = "Display";
}

<h1>View Detail Category</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model?.Id"><button class="btn btn-warning">Edit</button></a> |
    <a asp-action="Index"><button class="btn btn-primary">Back to List</button></a>
</div>
