﻿@model IEnumerable<Lab03.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Category List</h1>

<p>
    <a asp-action="Add"><button class="btn btn-success">Create New Category</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var category in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => category.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => category.Name)
            </td>
            <td>
                <a asp-action="Display" asp-route-id="@category.Id"><button class="btn btn-primary">View</button></a> |
                <a asp-action="Update" asp-route-id="@category.Id"><button class="btn btn-warning">Edit</button></a> |
                <a asp-action="Delete" asp-route-id="@category.Id"><button class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
